body {
  background-color: lightyellow;
  text-align: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}

hr{
  border:dotted black 6px;
  border-bottom: none;
  width:50px auto;
  margin:100px auto;
}
img{
  border-radius: 100%;
}
